<%- include("parts/header")  %> 
<%- include("parts/navbar")  %> 

<div class="container">
    <i><h3 id = "home-title">Online Friends</h3></i>
    <div id="onlineFriends">
        
    </div>
</div>
<%-include("parts/scripts")%> 
<script src="/sockets/home.js"></script>

</body>
</html>